<%- include("partials/header"); -%>



<% for(var i=0;i<postlist.length ;i++){ %>

<%if(i==0){%>

<h1><%=postlist[i].title%></h1>
<p>
  <%=postlist[i].body%>
</p>

<% } else { %>
<h1><%=postlist[i].title%></h1>
<p>
  <%=postlist[i].body.substring(0, 100) + " ..."%>
  <a href="/posts/<%=postlist[i]._id%>">Read More</a>
</p>






<%} } %>





<%- include("partials/footer"); -%>