<%- include("partials/header"); -%>

<h1><%=title%></h1>
<p><%=content%></p>
<form action="/delete" method="post">
  <div class="dbutton">
  <button class="btn btn-danger delete" type="submit" name="button" value=<%= postlist[0]._id%> >Delete Post</button>
  </div>
</form>

<%- include("partials/footer"); -%>